
    <nav
      class="fixed right-6 top-1/2 transform -translate-y-1/2 z-40 flex flex-col space-y-4"
    >
      <a
        href="#inicio"
        class="w-4 h-4 shape-starburst bg-purple-600 hover:bg-white transition-all duration-300 shadow-[0_0_15px_2px_rgba(168,85,247,0.7)]"
      ></a>
      <a
        href="#sobre"
        class="w-4 h-4 shape-hexagon bg-purple-500 hover:bg-white transition-all duration-300 shadow-[0_0_15px_2px_rgba(168,85,247,0.7)]"
      ></a>
      <a
        href="#skills"
        class="w-4 h-4 shape-parallelogram bg-purple-400 hover:bg-white transition-all duration-300 shadow-[0_0_15px_2px_rgba(168,85,247,0.7)]"
      ></a>
      <a
        href="#projetos"
        class="w-4 h-4 rounded-full bg-purple-300 hover:bg-white transition-all duration-300 shadow-[0_0_15px_2px_rgba(168,85,247,0.7)]"
      ></a>
      <a
        href="#contato"
        class="w-4 h-4 shape-blob bg-purple-200 hover:bg-white transition-all duration-300 shadow-[0_0_15px_2px_rgba(168,85,247,0.7)]"
      ></a>
    </nav>